#header {
  background-color:#9099a2;
  background-size: auto;
  width: 895px;
  height:240px;
  position: absolute;
  margin: o auto;
  padding: 1px;
  border: 1px inset black;
}

* h1, h2 {
  font-family: serif;

}

#body {
  background-color: #d5d5d5;
  font-family:serif ;
  width: 400px;
  float: right;
  height: 793px;
  border: 1px solid black;
  border-right: 90px solid #6d7993;
}

body {
  background-repeat: no-repeat;
}

.positioned {
  Right:480px;
  bottom: 590px;
}

.positioned2 {
  position:relative;
  left: 20px;
  bottom:18px;
}
